body{
    background-color:aquamarine;
}

header{
    color:black;
    font-family:"Oxanium", sans-serif;
}

p{
    color: aqua;
    font-family:Oxanium;
}


a{
    font-family:Oxanium;
    text-decoration:none
}

nav [role="sub"]{
    display: flex;
    flex-direction: column;
    background-color: #272727;
}
