@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  
  
*{
    margin: 0;
}
.flex-dentro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-left: -10px;
    margin-top: -8px;
    width: 100.7%;
    height: 48px;
    border: none !important;

  }

  .flex-izq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-right: 165vh;
    border: none !important;
    height: calc(100vh - 64px);

  }

  body {
    background-color: #dee0e3;
  }

  .imagen{
    transition: transform .2s; 
  }

  .imagen:hover {
    transform: scale(1.2);
  }

a {
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  a:hover {
    color: #f03255;
  }