@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html body {
  background-color: rgb(233, 249, 252);
  color: black;
  transition: background-color 0.3s, color 0.3s;
}
.flex-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin-left: 70px;
    margin-top: auto;
    width: 100%;
    height: 68px;
    border: none !important;
    font-size: 200%;
    position: fixed;
    top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
    z-index: 9;
  }

body.dark-mode {
    background-color: black;
    color: rgb(233, 249, 252);

}
body.dark-mode .flex-top{
  background-color: rgb(31, 31, 31);
  box-shadow: none;
}
body.dark-mode .flex-top a{
  color: white !important;
}
body.dark-mode .flex-izq{
  background-color: rgb(31, 31, 31);
}

/* Estilos del footer */
footer {
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 20px 0;
  transition: background-color 0.3s, color 0.3s;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  max-width: 300px;
  text-align: right;
}

.footer-section h3 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #fff;
}

/* Modo oscuro para el footer */
body.dark-mode .footer{
  background-color: rgb(31, 31, 31);
}

body.dark-mode .footer-section h3 {
  border-bottom: 2px solid #ddd;
}

body.dark-mode .footer-bottom {
  border-top: 1px solid #ddd;
}
.flex-izq{
    transition: background-color 0.3s, color 0.3s;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff6333;
    /* margin-right: 165vh; */
    padding-bottom: 100%;
     /*border: none !important;*/
     /*height: calc(100vh - -200px);*/
    position: fixed;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 10;
  }
  .flex-izq a{
    color: white !important;   
  }
.d-flex{
  padding-left: 80%;
  margin-top: 70px;
}
@media only screen and (max-width: 1200px) {
  .flex-izq {
    display: none;
  }
  
  .txtmenu{
    display: none; 
  }

  .carru{
    display: none; 
  }
}

@media only screen and (min-width: 1200px) {
  .txtsmall{
    display: none; 
  }
}


  .Tcarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    width: 100%;
    height: 10%;
    font-size: 40px;
  }
  .form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
  }

  .form-shipping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    font-size: large;
  }
  .itemcontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20vh;
    margin-left: 25vh;
  }
  .CartItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#dee0e3;
    margin-top: 5vh;
    margin-left: 5vh;
    width: 500px;
    height: 90px;
    border-radius: 15px;
  }
  .cantidad{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  }
  label{ 
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  header{
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .flex-top-right{
    display: flex;
  }
  
  body {
    background-color: #dee0e3;
  }

  /* .imagen{
    transition: transform .2s; 
  }

  .imagen:hover {
    transform: scale(1.2);
  } */
  

  .iconos{
    vertical-align: middle;
  }
  .CantButton{
    background-color: #dee0e3;
    border: none;
    color:#ff6333;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  .CantButton:hover{
    color:red;
    cursor: pointer;
  }
  .CartBotones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25vh;
    margin-left: 82vh;
    height: 90px;
    border-radius: 15px;
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  .CartButtons{
    background-color: white;
    border-color:#ff6333;
    color:#ff6333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }
  .CartButtons:hover{
    background-color:#ff6333; 
    color:#dee0e3;
  }
  .CartButtons:active{
    background-color: #f03255;
  }

  .ButtonOut{
    background-color: white;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
  }

  .FButton{
    background-color: white;
    border-color:#ff6333;
    color:#ff6333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .FButton:hover{
    background-color:#ff6333; 
    color:#dee0e3;
  }

  .Fbutton {
    transition-duration: 0.4s;
  }

  .FButton:active{
    background-color: #f03255;
  }

  h2{
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  h3{
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .desplegable{ /*parámetros para un menu desplegable*/
    position: relative;
    display: inline-block;
    color: none;
  }

  .desplegable-contenido{ /*parámetros dentro del menú desplegable*/
    display: none;
    position: absolute;
    background-color: black;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
  }

  .desplegable2{ /*parámetros para un menu desplegable*/
    position: relative;
    display: inline-block;
    color: none;
  }

  .desplegable2-contenido{ /*parámetros dentro del menú desplegable*/
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
  }

  .desplegable-contenido a{ /*parámetros del texto del menú desplegable*/
    color: #ff6333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }

  .desplegable2-contenido a{ /*parámetros del texto del menú desplegable*/
    color: #ff6333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
  }

  .desplegable-boton{ /*parámetros del botón de los menú desplegables*/
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    z-index: 1;
    border: none;
    border-radius: 8px;
  }
 
  .desplegable2-boton{ /*parámetros del botón de los menú desplegables*/
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    z-index: 1;
    border: none;
    border-radius: 8px;
    color:#ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .dark-mode-toggle{
    position: relative; 
    cursor: pointer; 
    background-color: transparent; 
    border: none;
  }

  .desplegable2-boton :hover{ /*parámetros del botón de los menú desplegables*/
    background-color: transparent;
    color:#f03255;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    transition: transform .2s;
  }
  
  .desplegable:hover .desplegable-contenido{
    display: block;
  }

  .desplegable2:hover .desplegable2-contenido{
    display: block;
  }

  .desplegable:hover .desplegable-boton{
    background-color: none;
    font-style: italic;
    transform: scale(1.2);
    transition: transform .2s;
  } 

  .desplegable2:hover .desplegable2-boton{
    background-color: none;
    font-style: italic;
    transform: scale(1.2);
    transition: transform .2s;
  } 

  .desplegable-contenido:hover a:hover{
    background-color: #f03255;
    font-style: italic;
    color: black !important;
  }

  .desplegable2-contenido:hover a:hover{
    background-color: #f03255;
    font-style: italic;
    color: black !important;
  }

  a{
    text-decoration: none !important;
    color: #ff6333 !important;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    
  }

  a:hover {
    color: #f03255 !important; 
    transform: scale(1.1) !important;
    transition: transform .2s !important;
  }

  p{
    text-decoration: none;
    color: #ff6333;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .ItemName{
    text-decoration: none;
    color:rgb(58, 59, 59);
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
  }

  .ItemName:hover{
    color: #f03255; 
    transform: scale(1);
    transition: transform .2s;
  }

  .registro-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 2vh;
  }


  .row{
    margin-bottom: 8px;
    padding-bottom: 10px;
  }
  .carousel {
    margin-top: 30px;
    margin-left: 260px;
    margin-right: auto;
    overflow: hidden; /* Esto evita que las esquinas de las imágenes se muestren fuera del borde */
  }
  .carousel-item img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del carousel */
    height: 100%; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin: 0;
    padding: 0;
    z-index: 4;
  }

  .custom-button{
    background-color:#ff6333;
  }

  .form-login{
    display: flex;
    flex-direction: column;
    margin: 6vh 0px;
    row-gap: 20px;
    align-items: center;
  }

  .MsjOut{
    margin-left: 100px;
    margin-top: 100px;
  }
  main {
    flex: 1;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.login-container {
  margin: 30vh auto 0 auto; /* Centrando el div horizontalmente */
  width: 50%;
  text-align: center;
}
.login-container h1 {
  font-family: 'Ubuntu';
  color: #ff6333;
  margin-top: 150px;
}
.form-login {
  margin-top: 80px;
}
.create-account {
  font-weight: bold;
  font-family: 'Ubuntu';
  margin-top: 20px;
}

