{% load static %}

<header>
    <nav class="flex-top">
        <img src="{% static 'img/logo_robot_v2.png' %}" class="imagen" width="65px"height="65px" >
        <a href="{% url 'home' %}">INICIO<img src="{% static 'img/pp_home.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'shipping' %}">ENVÍO<img src="{% static 'img/pp_shipping.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'sucursales' %}">SUCURSALES<img src="{% static 'img/pp_map.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <div class="flex-top-right">
            {% if user.is_authenticated %}
                <div class="desplegable">
                    <button class="desplegable-boton"><a>{{ user.username}}<img src="{% static 'img/pp_arrow.png' %}" alt="" class="iconos" width="24" height="24"></a>
                    </button>
                    <div class="desplegable-contenido">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="ButtonOut">cerrar sesion</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'Logindjango' %}"><img src="{% static 'img/pp_user.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
            {% endif %}
            <a href="{% url 'cart' %}"><img src="{% static 'img/pp_cart.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        </div>
    </nav>
</header>