{% load static %}

<header>
    <nav class="flex-top">
        <img src="{% static 'img/logo_robot_v2.png' %}" class="imagen" width="65px"height="65px" >
        <a href="{% url 'home' %}" class="txtmenu">INICIO<img src="{% static 'img/pp_home.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'home' %}" class="txtsmall"><img src="{% static 'img/pp_home.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'shipping' %}" class="txtmenu">ENVÍO<img src="{% static 'img/pp_shipping.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'shipping' %}" class="txtsmall"><img src="{% static 'img/pp_shipping.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'sucursales' %}" class="txtmenu">SUCURSALES<img src="{% static 'img/pp_map.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <a href="{% url 'sucursales' %}" class="txtsmall"><img src="{% static 'img/pp_map.png' %}" alt="" class="iconos" width="40px" height="40px"></a>
        <button id="dark-mode-toggle" style="position: relative; cursor: pointer; background-color: transparent; border: none;">
            <img src="{% static 'img/bombilla.png' %}" alt="Modo Oscuro" class="iconos" width="40px" height="40px">
        </button>
        <div class="flex-top-right">
            {% if user.is_authenticated %}
                <div class="desplegable2">
                    <button class="desplegable2-boton"><a>{{ user.username }}<img src="{% static 'img/pp_arrow.png' %}" alt="" class="iconos" width="24" height="24"></a>
                    </button>
                    <div class="desplegable2-contenido">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="desplegable2-boton">Cerrar sesión</button>
                        </form>
                        <button class="desplegable2-boton">Perfíl</button>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'Logindjango' %}"><img src="{% static 'img/pp_user.png' %}" alt="" class="iconos" width="40px" height="40px" style="margin-top: 2vh;"></a>
            {% endif %}
            <div class="desplegable">
                <div class="desplegable-boton">
                    <img src="{% static 'img/pp_cart.png' %}" alt="" class="iconos" width="40px" height="40px">
                    <div class="desplegable-contenido" style="position: absolute; right: 0; background-color: white;">
                        {% include "carrito.html" %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
<script src="{% static 'codigosjs/code.js' %}"></script>
</header>