
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Byte Bazar - Venta de Hardware y Componentes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo_robot_v2.ico' %}">
</head>
<body>
    <div style="margin-right: 120px; margin-left: -7.59vh;">
        {% include 'header.html' %}
    </div>
    {% block 'contenido' %}
    <div style="margin-top: 20vh;">
        <h1 style="font-family: Ubuntu; color: #ff6333; margin-top: 150px; margin-left: 87vh;">Iniciar sesión</h1>
        <form action="" method="post" class="form-login" style="margin-top: 80px">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="CartButtons">Ingresar</button>
        </form>
        <div style="font-weight: bold; margin-left: 82vh; font-family: Ubuntu;">
            ¿No tienes una cuenta? ¡Créala <a href="{% url 'login' %}">aquí!</a>
        </div>
    </div>
    {% endblock %}
</body>